<h2>All Applications</h2>

@if (ViewBag.Applications == null || ViewBag.Applications.Count == 0)
{
    <p>No applications yet.</p>
}
else
{
    foreach (var app in ViewBag.Applications)
    {
        <div>
            <p><strong>Student Name:</strong> @app.StudentName</p>
            <p><strong>Internship:</strong> @app.InternshipTitle</p>
            <p><strong>Date Applied:</strong> @app.ApplicationDate.ToShortDateString()</p>
            <p><strong>Status:</strong> @app.Status</p>

            @if (app.Status == "Pending")
            {
                <a asp-action="AcceptApplication" asp-route-id="@app.ApplicationID">Accept</a>
            
                <a asp-action = "RejectApplication" asp-route-id="@app.ApplicationID" >Reject</a>
             }
            <hr />
        </div>
    }
}